@tailwind base;
@tailwind utilities;
@tailwind components;

.content-container ul {
  padding-left: 5%; 
  list-style-type:square; 
}
.content-container a {
  font-weight: bold; 
  color: slategray; 
}

.content-container h1{
  font-weight: bold; 
  font-size: 140%; 
}
.content-container h2{
  font-weight: bold; 
  font-size: 130%; 
}
.content-container h3{
  font-weight: bold; 
  font-size: 120%; 
}
.content-container h4{
  font-weight: bold; 
  font-size: 110%; 
}

.content-container p {
  padding-top: 2%; 
  padding-bottom: 2%; 
}

.content-container hr {
  border: 1px solid gray; 
  border-radius: 10px; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
